node_red/flows_FM.json
[{"id":"80ae2d28.ae2","type":"tab","label":"Oficina - Sensores","disabled":false,"info":""},{"id":"fe2d5def.cb7bd","type":"tab","label":"Oficina - Dashboard","disabled":false,"info":""},{"id":"237034d2.da354c","type":"tab","label":"Comedor - Sensores","disabled":false,"info":""},{"id":"b0dbb1ff.ce7ba","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"faa6c181.bf413","type":"ui_group","z":"","name":"Sensores Oficina","tab":"1f1cc7ed.e3bee8","order":1,"disp":true,"width":"6","collapse":false},{"id":"1fe49388.b1819c","type":"mqtt-broker","z":"","name":"S2","broker":"172.19.0.192","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1f1cc7ed.e3bee8","type":"ui_tab","z":"","name":"Oficina","icon":"dashboard","disabled":false,"hidden":false},{"id":"98d68caa.f156","type":"ui_group","z":"","name":"Date","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"d992259d.369b18","type":"ui_group","z":"","name":"Temperatura","tab":"1f1cc7ed.e3bee8","order":3,"disp":true,"width":"6","collapse":false},{"id":"a32636a5.26cda8","type":"ui_group","z":"","name":"Humedad","tab":"1f1cc7ed.e3bee8","order":4,"disp":true,"width":"6","collapse":false},{"id":"f61f2717.9361a8","type":"ui_group","z":"","name":"Luminosidad","tab":"1f1cc7ed.e3bee8","order":5,"disp":true,"width":"6","collapse":false},{"id":"a399de88.1570b","type":"ui_group","z":"","name":"Emergencia","tab":"1f1cc7ed.e3bee8","order":6,"disp":true,"width":"6","collapse":false},{"id":"29cccb6e.ee4db4","type":"ui_group","z":"","name":"Sensores Comedor","tab":"1f1cc7ed.e3bee8","order":2,"disp":true,"width":"6","collapse":false},{"id":"d57f5eaa.892ff","type":"ui_group","z":"","name":"Date","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"a6d1e0f3.4af6","type":"ui_group","z":"","name":"Temperatura","tab":"1f1cc7ed.e3bee8","order":3,"disp":true,"width":"6","collapse":false},{"id":"49fca675.5a46f8","type":"ui_group","z":"","name":"Humedad","tab":"1f1cc7ed.e3bee8","order":4,"disp":true,"width":"6","collapse":false},{"id":"4fd62742.a65658","type":"ui_group","z":"","name":"Luminosidad","tab":"1f1cc7ed.e3bee8","order":5,"disp":true,"width":"6","collapse":false},{"id":"dfc53db3.ffb9c","type":"ui_group","z":"","name":"Emergencia","tab":"1f1cc7ed.e3bee8","order":6,"disp":true,"width":"6","collapse":false},{"id":"4287afa5.e7732","type":"ui_group","z":"","name":"Sensores Comedor","tab":"1f1cc7ed.e3bee8","order":2,"disp":true,"width":"6","collapse":false},{"id":"a71bc275.0b21e","type":"ui_group","z":"","name":"Confort","tab":"1f1cc7ed.e3bee8","order":7,"disp":true,"width":"6","collapse":false},{"id":"3286dd2f.7c0b72","type":"mqtt-broker","z":"","name":"Docker","broker":"192.168.1.42","port":"32769","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e72e3527.b9f6f8","type":"mqtt-broker","z":"","name":"Docker oficina","broker":"192.168.137.12","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f168d5ca.1cdc88","type":"ui_group","z":"","name":"Sensores Oficina","tab":"a638243b.adc6c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"4af95358.8a532c","type":"mqtt-broker","z":"","name":"S2","broker":"172.19.0.192","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a638243b.adc6c8","type":"ui_tab","z":"","name":"Oficina","icon":"dashboard","disabled":false,"hidden":false},{"id":"11fa95fb.652f1a","type":"ui_group","z":"","name":"Date","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"ae0c1a33.efd408","type":"ui_group","z":"","name":"Temperatura","tab":"a638243b.adc6c8","order":3,"disp":true,"width":"6","collapse":false},{"id":"545171d7.faf22","type":"ui_group","z":"","name":"Humedad","tab":"a638243b.adc6c8","order":4,"disp":true,"width":"6","collapse":false},{"id":"8dc31eef.ae4d4","type":"ui_group","z":"","name":"Luminosidad","tab":"a638243b.adc6c8","order":5,"disp":true,"width":"6","collapse":false},{"id":"6130fd71.e4cc44","type":"ui_group","z":"","name":"Emergencia","tab":"a638243b.adc6c8","order":6,"disp":true,"width":"6","collapse":false},{"id":"b0dd0bb5.605b78","type":"ui_group","z":"","name":"Sensores Comedor","tab":"a638243b.adc6c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"ec869f67.a0aaf","type":"ui_group","z":"","name":"Date","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"2b35cbe.cf19934","type":"ui_group","z":"","name":"Temperatura","tab":"a638243b.adc6c8","order":3,"disp":true,"width":"6","collapse":false},{"id":"19f311f0.73573e","type":"ui_group","z":"","name":"Humedad","tab":"a638243b.adc6c8","order":4,"disp":true,"width":"6","collapse":false},{"id":"54b49ca0.950434","type":"ui_group","z":"","name":"Luminosidad","tab":"a638243b.adc6c8","order":5,"disp":true,"width":"6","collapse":false},{"id":"1656b0b7.0be02f","type":"ui_group","z":"","name":"Emergencia","tab":"a638243b.adc6c8","order":6,"disp":true,"width":"6","collapse":false},{"id":"c1960b07.2676a8","type":"ui_group","z":"","name":"Sensores Comedor","tab":"a638243b.adc6c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"dabbd41b.1b4d18","type":"ui_group","z":"","name":"Confort","tab":"a638243b.adc6c8","order":7,"disp":true,"width":"6","collapse":false},{"id":"9f5b0509.4e5458","type":"mqtt-broker","z":"","name":"Docker","broker":"172.19.0.192","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ad1c8cab.2915e","type":"mqtt-broker","z":"","name":"local","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"df8ee5cd.880c78","type":"mqtt out","z":"80ae2d28.ae2","name":"","topic":"empresa/oficina/luminosidad","qos":"0","retain":"","broker":"e72e3527.b9f6f8","x":980,"y":100,"wires":[]},{"id":"a5e189b8.6ce158","type":"ui_slider","z":"80ae2d28.ae2","name":"","label":"Luminosidad","tooltip":"","group":"f168d5ca.1cdc88","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"400","step":"10","x":570,"y":100,"wires":[["e8055f6e.a6df7"]]},{"id":"42bfd672.5e4e58","type":"ui_slider","z":"80ae2d28.ae2","name":"","label":"Humedad","tooltip":"","group":"f168d5ca.1cdc88","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":560,"y":260,"wires":[["3c554646.5417da"]]},{"id":"4ff4ad52.050d94","type":"mqtt out","z":"80ae2d28.ae2","name":"","topic":"empresa/oficina/humedad","qos":"","retain":"","broker":"e72e3527.b9f6f8","x":970,"y":260,"wires":[]},{"id":"db558bac.6296e8","type":"ui_slider","z":"80ae2d28.ae2","name":"","label":"Temperatura","tooltip":"","group":"f168d5ca.1cdc88","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"40","step":1,"x":570,"y":180,"wires":[["f69820c8.ee535"]]},{"id":"8c75cc32.1ccb8","type":"mqtt out","z":"80ae2d28.ae2","name":"","topic":"empresa/oficina/temperatura","qos":"","retain":"","broker":"e72e3527.b9f6f8","x":980,"y":180,"wires":[]},{"id":"1c884898.33c127","type":"mqtt out","z":"80ae2d28.ae2","name":"","topic":"empresa/oficina/emergencia","qos":"1","retain":"","broker":"e72e3527.b9f6f8","x":700,"y":320,"wires":[]},{"id":"981e7612.2f5718","type":"ui_slider","z":"80ae2d28.ae2","name":"","label":"Concentracion de humo","tooltip":"","group":"f168d5ca.1cdc88","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":140,"y":320,"wires":[["de0d16b5.58c798"]]},{"id":"de0d16b5.58c798","type":"function","z":"80ae2d28.ae2","name":"Check for emergency alert","func":"var value = msg.payload;\nvar payload;\n\nif (value >= 70) {\n    payload = {\"id\":\"sensor_office\", \"datatype\":\"emergency\",\"value\": true, \"timestamp\":\"2019-11-25T09:00:00\"}\n}\nelse {\n    payload = {\"id\":\"sensor_office\", \"datatype\":\"emergency\",\"value\": false, \"timestamp\":\"2019-11-25T09:00:00\"}\n}\n\nmsg.payload = payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["1c884898.33c127"]]},{"id":"f27d9768.eb2c48","type":"inject","z":"80ae2d28.ae2","name":"inject","topic":"","payload":"[{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T00:00:00\",\"luminosity\":0.1,\"temperature\":6.2,\"humidity\":16.4},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T00:10:00\",\"luminosity\":0.2,\"temperature\":7.7,\"humidity\":13.5},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T00:20:00\",\"luminosity\":0.4,\"temperature\":10.5,\"humidity\":17.6},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T00:30:00\",\"luminosity\":0.5,\"temperature\":11.3,\"humidity\":18.1},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T00:40:00\",\"luminosity\":0.7,\"temperature\":19.5,\"humidity\":16.5},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T00:50:00\",\"luminosity\":0.6,\"temperature\":22.7,\"humidity\":12.8},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T1:00:00\",\"luminosity\":0.5,\"temperature\":21.9,\"humidity\":12.2},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T1:10:00\",\"luminosity\":0.5,\"temperature\":23.6,\"humidity\":14.6},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T1:20:00\",\"luminosity\":0.4,\"temperature\":19.4,\"humidity\":15.7},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T1:30:00\",\"luminosity\":0.4,\"temperature\":25.4,\"humidity\":16.6},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T1:40:00\",\"luminosity\":0.4,\"temperature\":27.6,\"humidity\":18.1},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T1:50:00\",\"luminosity\":0.6,\"temperature\":69.4,\"humidity\":20.1},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T2:00:00\",\"luminosity\":0.6,\"temperature\":33.1,\"humidity\":23.9},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T2:10:00\",\"luminosity\":0.6,\"temperature\":30.6,\"humidity\":20.6},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T2:20:00\",\"luminosity\":0.6,\"temperature\":29.2,\"humidity\":21.9},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T2:30:00\",\"luminosity\":0.7,\"temperature\":28,\"humidity\":22.8},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T2:40:00\",\"luminosity\":0.8,\"temperature\":28,\"humidity\":19.8},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T2:50:00\",\"luminosity\":0.8,\"temperature\":27.4,\"humidity\":20.7},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T3:00:00\",\"luminosity\":0.9,\"temperature\":27,\"humidity\":16.9},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T3:10:00\",\"luminosity\":0.8,\"temperature\":27.2,\"humidity\":18},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T3:20:00\",\"luminosity\":0.9,\"temperature\":28,\"humidity\":19.8},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T3:30:00\",\"luminosity\":0.9,\"temperature\":68.6,\"humidity\":17},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T3:40:00\",\"luminosity\":0.9,\"temperature\":34.6,\"humidity\":20},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T3:50:00\",\"luminosity\":0.9,\"temperature\":28,\"humidity\":24.1},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T4:00:00\",\"luminosity\":0,\"temperature\":28.6,\"humidity\":24.3},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T4:10:00\",\"luminosity\":0.1,\"temperature\":28.5,\"humidity\":28.3},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T4:20:00\",\"luminosity\":0.3,\"temperature\":27.5,\"humidity\":29.1},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T4:30:00\",\"luminosity\":0.3,\"temperature\":28,\"humidity\":32.4},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T4:40:00\",\"luminosity\":0.2,\"temperature\":26,\"humidity\":27.6},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T4:50:00\",\"luminosity\":0.4,\"temperature\":29.5,\"humidity\":23},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T5:00:00\",\"luminosity\":0.3,\"temperature\":28.4,\"humidity\":27.9},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T5:10:00\",\"luminosity\":0.4,\"temperature\":26.3,\"humidity\":31.6},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T5:20:00\",\"luminosity\":0.5,\"temperature\":27.7,\"humidity\":29.2},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T5:30:00\",\"luminosity\":0.5,\"temperature\":28,\"humidity\":29.9},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T5:40:00\",\"luminosity\":0.5,\"temperature\":69.2,\"humidity\":31.7},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T5:50:00\",\"luminosity\":0.4,\"temperature\":34.1,\"humidity\":34.5},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T6:00:00\",\"luminosity\":0.4,\"temperature\":32.6,\"humidity\":32.7},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T6:10:00\",\"luminosity\":0.3,\"temperature\":30.9,\"humidity\":35.3},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T6:20:00\",\"luminosity\":0.2,\"temperature\":28,\"humidity\":32},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T6:30:00\",\"luminosity\":0,\"temperature\":68.5,\"humidity\":27.5},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T6:40:00\",\"luminosity\":0.3,\"temperature\":34.8,\"humidity\":22.9},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T6:50:00\",\"luminosity\":0.4,\"temperature\":33.6,\"humidity\":27.7},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T7:00:00\",\"luminosity\":0,\"temperature\":28,\"humidity\":27.8},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T7:10:00\",\"luminosity\":0.1,\"temperature\":28.1,\"humidity\":31},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T7:20:00\",\"luminosity\":0,\"temperature\":28.1,\"humidity\":26},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T7:30:00\",\"luminosity\":0.3,\"temperature\":27.8,\"humidity\":29.4},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T7:40:00\",\"luminosity\":0,\"temperature\":28,\"humidity\":28.1},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T7:50:00\",\"luminosity\":0.3,\"temperature\":28,\"humidity\":27.9},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T8:00:00\",\"luminosity\":0.3,\"temperature\":22.7,\"humidity\":26.5},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T8:10:00\",\"luminosity\":0.4,\"temperature\":24.2,\"humidity\":29.2},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T8:20:00\",\"luminosity\":0.5,\"temperature\":22.8,\"humidity\":34.1},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T8:30:00\",\"luminosity\":0.5,\"temperature\":22.4,\"humidity\":33},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T8:40:00\",\"luminosity\":0.6,\"temperature\":28.5,\"humidity\":31.2},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T8:50:00\",\"luminosity\":0.8,\"temperature\":28,\"humidity\":34.6},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T9:00:00\",\"luminosity\":0.8,\"temperature\":27.5,\"humidity\":39},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T9:10:00\",\"luminosity\":0.9,\"temperature\":27,\"humidity\":36.2},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T9:20:00\",\"luminosity\":0.9,\"temperature\":28.3,\"humidity\":36.8},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T9:30:00\",\"luminosity\":0.9,\"temperature\":27.9,\"humidity\":31.9},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T9:40:00\",\"luminosity\":0.9,\"temperature\":28,\"humidity\":30.2},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T9:50:00\",\"luminosity\":0.8,\"temperature\":28.5,\"humidity\":32},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T10:00:00\",\"luminosity\":0.9,\"temperature\":28,\"humidity\":28.5},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T10:10:00\",\"luminosity\":1,\"temperature\":28,\"humidity\":24.4},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T10:20:00\",\"luminosity\":0.9,\"temperature\":26.9,\"humidity\":27.6},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T10:30:00\",\"luminosity\":0.9,\"temperature\":28,\"humidity\":32.6},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T10:40:00\",\"luminosity\":0,\"temperature\":68.4,\"humidity\":30.9},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T10:50:00\",\"luminosity\":0.3,\"temperature\":28,\"humidity\":29},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T11:00:00\",\"luminosity\":0.5,\"temperature\":26,\"humidity\":27.9},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T11:10:00\",\"luminosity\":0.4,\"temperature\":28.7,\"humidity\":29.9},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T11:20:00\",\"luminosity\":0,\"temperature\":27.7,\"humidity\":31},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T11:30:00\",\"luminosity\":0.3,\"temperature\":28,\"humidity\":31.7},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T11:40:00\",\"luminosity\":0.4,\"temperature\":25.7,\"humidity\":34.8},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T11:50:00\",\"luminosity\":0.5,\"temperature\":26.8,\"humidity\":36.5},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T12:00:00\",\"luminosity\":0.5,\"temperature\":24,\"humidity\":41.4},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T12:10:00\",\"luminosity\":0.6,\"temperature\":23.4,\"humidity\":40.9},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T12:20:00\",\"luminosity\":0.8,\"temperature\":24.8,\"humidity\":45.3},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T12:30:00\",\"luminosity\":0.9,\"temperature\":29.3,\"humidity\":44.7},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T12:40:00\",\"luminosity\":0.9,\"temperature\":28,\"humidity\":41.8},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T12:50:00\",\"luminosity\":0,\"temperature\":25.7,\"humidity\":36.9},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T13:00:00\",\"luminosity\":0,\"temperature\":26.8,\"humidity\":36.2},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T13:10:00\",\"luminosity\":0.3,\"temperature\":29.6,\"humidity\":36.8},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T13:20:00\",\"luminosity\":0.3,\"temperature\":29.9,\"humidity\":36.8},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T13:30:00\",\"luminosity\":0.2,\"temperature\":68.6,\"humidity\":37.7},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T13:40:00\",\"luminosity\":0.3,\"temperature\":28,\"humidity\":38.3},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T13:50:00\",\"luminosity\":0.3,\"temperature\":28,\"humidity\":39.3},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T14:00:00\",\"luminosity\":0.3,\"temperature\":26.4,\"humidity\":40.6},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T14:10:00\",\"luminosity\":0.3,\"temperature\":28,\"humidity\":36},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T14:20:00\",\"luminosity\":0.4,\"temperature\":23.1,\"humidity\":31.9},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T14:30:00\",\"luminosity\":0.3,\"temperature\":25.5,\"humidity\":27.9},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T14:40:00\",\"luminosity\":0,\"temperature\":25,\"humidity\":32.4},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T14:50:00\",\"luminosity\":0,\"temperature\":28,\"humidity\":36.5},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T15:00:00\",\"luminosity\":0.3,\"temperature\":28.2,\"humidity\":38},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T15:10:00\",\"luminosity\":0.4,\"temperature\":28,\"humidity\":34.9},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T15:20:00\",\"luminosity\":0.4,\"temperature\":27.6,\"humidity\":30.7},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T15:30:00\",\"luminosity\":0.6,\"temperature\":68,\"humidity\":30.8},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T15:40:00\",\"luminosity\":0.6,\"temperature\":28,\"humidity\":34.1},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T15:50:00\",\"luminosity\":0.8,\"temperature\":27.5,\"humidity\":32.4},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T16:00:00\",\"luminosity\":0.9,\"temperature\":25.3,\"humidity\":34},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T16:10:00\",\"luminosity\":0.9,\"temperature\":24.2,\"humidity\":32.6},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T16:20:00\",\"luminosity\":0.9,\"temperature\":22.5,\"humidity\":35.5},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T16:30:00\",\"luminosity\":0.8,\"temperature\":23.5,\"humidity\":39.4},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T16:40:00\",\"luminosity\":0.8,\"temperature\":21.6,\"humidity\":35},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T16:50:00\",\"luminosity\":0.9,\"temperature\":24.1,\"humidity\":35},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T17:00:00\",\"luminosity\":0.9,\"temperature\":23.2,\"humidity\":36.1},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T17:10:00\",\"luminosity\":0.9,\"temperature\":25.5,\"humidity\":33.3},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T17:20:00\",\"luminosity\":0.9,\"temperature\":24.8,\"humidity\":36},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T17:30:00\",\"luminosity\":0.9,\"temperature\":20.6,\"humidity\":31.7},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T17:40:00\",\"luminosity\":0.9,\"temperature\":19.1,\"humidity\":31.7},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T17:50:00\",\"luminosity\":0.9,\"temperature\":19.6,\"humidity\":28.6},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T18:00:00\",\"luminosity\":1,\"temperature\":20.2,\"humidity\":33},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T18:10:00\",\"luminosity\":0.9,\"temperature\":17.3,\"humidity\":30.1},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T18:20:00\",\"luminosity\":0.8,\"temperature\":28,\"humidity\":27.4},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T18:30:00\",\"luminosity\":0,\"temperature\":28,\"humidity\":27},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T18:40:00\",\"luminosity\":0.3,\"temperature\":28,\"humidity\":29.6},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T18:50:00\",\"luminosity\":0.2,\"temperature\":68.3,\"humidity\":31.1},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T19:00:00\",\"luminosity\":0.3,\"temperature\":28,\"humidity\":26.3},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T19:10:00\",\"luminosity\":0.5,\"temperature\":25.4,\"humidity\":31},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T19:20:00\",\"luminosity\":0.5,\"temperature\":27.6,\"humidity\":35.8},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T19:30:00\",\"luminosity\":0.5,\"temperature\":28,\"humidity\":34.7},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T19:40:00\",\"luminosity\":0.4,\"temperature\":28,\"humidity\":32.9},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T19:50:00\",\"luminosity\":0.6,\"temperature\":69.9,\"humidity\":36.4},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T20:00:00\",\"luminosity\":0.6,\"temperature\":28,\"humidity\":39.8},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T20:10:00\",\"luminosity\":0.8,\"temperature\":29.2,\"humidity\":37.3},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T20:20:00\",\"luminosity\":0.8,\"temperature\":29.5,\"humidity\":36},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T20:30:00\",\"luminosity\":0.8,\"temperature\":28,\"humidity\":32.8},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T20:40:00\",\"luminosity\":0.8,\"temperature\":27.2,\"humidity\":29.1},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T20:50:00\",\"luminosity\":0.8,\"temperature\":28,\"humidity\":34.1},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T21:00:00\",\"luminosity\":0.8,\"temperature\":69.9,\"humidity\":32.8},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T21:10:00\",\"luminosity\":0.8,\"temperature\":33.9,\"humidity\":37.7},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T21:20:00\",\"luminosity\":0,\"temperature\":28,\"humidity\":34.6},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T21:30:00\",\"luminosity\":0.3,\"temperature\":26.7,\"humidity\":36.7},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T21:40:00\",\"luminosity\":0.2,\"temperature\":26.1,\"humidity\":32},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T21:50:00\",\"luminosity\":0.3,\"temperature\":28,\"humidity\":34.9},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T22:00:00\",\"luminosity\":0.5,\"temperature\":29,\"humidity\":31.4},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T22:10:00\",\"luminosity\":0.4,\"temperature\":22.7,\"humidity\":28.5},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T22:20:00\",\"luminosity\":0.5,\"temperature\":24.3,\"humidity\":30.8},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T22:30:00\",\"luminosity\":0,\"temperature\":25.9,\"humidity\":30.6},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T22:40:00\",\"luminosity\":0,\"temperature\":23.8,\"humidity\":27.3},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T22:50:00\",\"luminosity\":0.3,\"temperature\":22.5,\"humidity\":32.2},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T23:00:00\",\"luminosity\":0.2,\"temperature\":21,\"humidity\":35.3},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T23:10:00\",\"luminosity\":0.2,\"temperature\":28,\"humidity\":37.6},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T23:20:00\",\"luminosity\":0.3,\"temperature\":27.8,\"humidity\":36.5},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T23:30:00\",\"luminosity\":0,\"temperature\":68.6,\"humidity\":34},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T23:40:00\",\"luminosity\":0.3,\"temperature\":33.2,\"humidity\":38.3},{\"id\":\"sensor_office\",\"timestamp\":\"2019-11-25T23:50:00\",\"luminosity\":0,\"temperature\":28,\"humidity\":34.2}]","payloadType":"json","repeat":"18000","crontab":"","once":false,"onceDelay":"5","x":90,"y":520,"wires":[["c7d76dd7.881ca"]]},{"id":"c7d76dd7.881ca","type":"split","z":"80ae2d28.ae2","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":210,"y":420,"wires":[["d99ff5d8.908b08"]]},{"id":"d99ff5d8.908b08","type":"delay","z":"80ae2d28.ae2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":480,"wires":[["f59f5b97.8bb338","25ad41ed.5c27ee","7aef4356.3f732c"]]},{"id":"aaf98169.b7336","type":"mqtt out","z":"80ae2d28.ae2","name":"s_lum_1","topic":"empresa/oficina/luminosidad","qos":"0","retain":"false","broker":"e72e3527.b9f6f8","x":740,"y":420,"wires":[]},{"id":"182d74d7.7e467b","type":"mqtt out","z":"80ae2d28.ae2","name":"s_hum_1","topic":"empresa/oficina/humedad","qos":"0","retain":"false","broker":"e72e3527.b9f6f8","x":740,"y":480,"wires":[]},{"id":"2672992a.25f956","type":"mqtt out","z":"80ae2d28.ae2","name":"s_temp_1","topic":"empresa/oficina/temperatura","qos":"0","retain":"false","broker":"e72e3527.b9f6f8","x":740,"y":540,"wires":[]},{"id":"f59f5b97.8bb338","type":"function","z":"80ae2d28.ae2","name":"getLuminosity","func":"var str = \"{\\\"id\\\":\\\"\" + msg.payload.id + \"\\\",\" +\n       \"\\\"datatype\\\": \\\"luminosity\\\",\" +\n       \"\\\"value\\\": \" + msg.payload.luminosity + \",\" +\n       \"\\\"timestamp\\\":\\\"\" + msg.payload.timestamp + \"\\\"}\";\n       \nvar json = JSON.parse(str);\n\n\nmsg.payload = json;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":420,"wires":[["18fa61f2.caab5e"]]},{"id":"25ad41ed.5c27ee","type":"function","z":"80ae2d28.ae2","name":"getHumidity","func":"var str = \"{\\\"id\\\":\\\"\" + msg.payload.id + \"\\\",\" +\n       \"\\\"datatype\\\": \\\"humidity\\\",\" +\n       \"\\\"value\\\": \" + msg.payload.humidity + \",\" +\n       \"\\\"timestamp\\\":\\\"\" + msg.payload.timestamp + \"\\\"}\";\n       \nvar json = JSON.parse(str);\n\n\nmsg.payload = json;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":500,"wires":[["182d74d7.7e467b"]]},{"id":"7aef4356.3f732c","type":"function","z":"80ae2d28.ae2","name":"getTemperature","func":"var str = \"{\\\"id\\\":\\\"\" + msg.payload.id + \"\\\",\" +\n       \"\\\"datatype\\\": \\\"temperature\\\",\" +\n       \"\\\"value\\\": \" + msg.payload.temperature + \",\" +\n       \"\\\"timestamp\\\":\\\"\" + msg.payload.timestamp + \"\\\"}\";\n       \nvar json = JSON.parse(str);\n\n\nmsg.payload = json;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":560,"wires":[["2672992a.25f956"]]},{"id":"e8055f6e.a6df7","type":"function","z":"80ae2d28.ae2","name":"ToJson","func":"var value = msg.payload;\nvar payload = {\"id\":\"sensor_office\", \"datatype\":\"luminosity\",\"value\":value, \"timestamp\":\"2019-11-25T09:00:00\"}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":100,"wires":[["df8ee5cd.880c78"]]},{"id":"f69820c8.ee535","type":"function","z":"80ae2d28.ae2","name":"ToJson","func":"var value = msg.payload;\nvar payload = {\"id\":\"sensor_office\", \"datatype\":\"temperature\",\"value\":value, \"timestamp\":\"2019-11-25T09:00:00\"}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":180,"wires":[["8c75cc32.1ccb8"]]},{"id":"3c554646.5417da","type":"function","z":"80ae2d28.ae2","name":"ToJson","func":"var value = msg.payload;\nvar payload = {\"id\":\"sensor_office\", \"datatype\":\"humidity\",\"value\":value, \"timestamp\":\"2019-11-25T09:00:00\"}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":260,"wires":[["4ff4ad52.050d94"]]},{"id":"56ef5138.edb66","type":"mqtt in","z":"80ae2d28.ae2","name":"","topic":"sensors/LightIntensity/x","qos":"0","datatype":"json","broker":"e72e3527.b9f6f8","x":600,"y":40,"wires":[["e8055f6e.a6df7"]]},{"id":"ea61e101.cd248","type":"ui_gauge","z":"fe2d5def.cb7bd","name":"","group":"2b35cbe.cf19934","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"40","colors":["#0080c0","#e6e600","#ca3838"],"seg1":"17","seg2":"32","x":750,"y":120,"wires":[]},{"id":"f922128b.60d78","type":"mqtt in","z":"fe2d5def.cb7bd","name":"","topic":"empresa/oficina/temperatura","qos":"0","datatype":"json","broker":"e72e3527.b9f6f8","x":160,"y":120,"wires":[["3a823891.71c248"]]},{"id":"67e382e9.d90e6c","type":"mqtt in","z":"fe2d5def.cb7bd","name":"","topic":"empresa/oficina/luminosidad","qos":"0","datatype":"json","broker":"e72e3527.b9f6f8","x":160,"y":240,"wires":[["8e9540bf.613"]]},{"id":"45b12db7.9c3424","type":"mqtt in","z":"fe2d5def.cb7bd","name":"","topic":"empresa/oficina/humedad","qos":"0","datatype":"json","broker":"e72e3527.b9f6f8","x":150,"y":360,"wires":[["e5fb8e80.3d706"]]},{"id":"10424865.11a9b8","type":"function","z":"fe2d5def.cb7bd","name":"Set message for temperature","func":"if (msg.value >= 33) {\n    msg.payload = \"Calida\";    \n}\nelse if (msg.value >= 18) {\n    msg.payload = \"Estable\";    \n}\nelse {\n    msg.payload = \"Fria\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":60,"wires":[["fdc54950.6e47a8"]]},{"id":"fdc54950.6e47a8","type":"ui_text","z":"fe2d5def.cb7bd","group":"2b35cbe.cf19934","order":1,"width":0,"height":0,"name":"","label":"Temperatura:","format":"{{msg.payload}}","layout":"row-right","x":1010,"y":60,"wires":[]},{"id":"b27c9cc0.455a4","type":"ui_chart","z":"fe2d5def.cb7bd","name":"","group":"54b49ca0.950434","order":3,"width":0,"height":0,"label":"Luminosidad de la sala","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"400","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":240,"wires":[[]]},{"id":"f033cb7f.243ef8","type":"ui_text","z":"fe2d5def.cb7bd","group":"19f311f0.73573e","order":1,"width":0,"height":0,"name":"","label":"Humedad:","format":"{{msg.payload}} %","layout":"row-spread","x":730,"y":360,"wires":[]},{"id":"f95feb76.27db68","type":"ui_gauge","z":"fe2d5def.cb7bd","name":"Humedad","group":"19f311f0.73573e","order":2,"width":0,"height":0,"gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":320,"wires":[]},{"id":"5e5e6b5a.ded0f4","type":"ui_slider","z":"237034d2.da354c","name":"","label":"Concentracion de humo","tooltip":"","group":"c1960b07.2676a8","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":170,"y":340,"wires":[["1838497b.35b7f7"]]},{"id":"1838497b.35b7f7","type":"function","z":"237034d2.da354c","name":"Check for emergency alert","func":"var value = msg.payload;\nvar payload;\n\nif (value >= 70) {\n    payload = {\"id\":\"sensor_dining_room\", \"datatype\":\"emergency\",\"value\": true, \"timestamp\":\"2019-11-25T09:00:00\"}\n}\nelse {\n    payload = {\"id\":\"sensor_dining_room\", \"datatype\":\"emergency\",\"value\": false, \"timestamp\":\"2019-11-25T09:00:00\"}\n}\n\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":340,"wires":[["3ca2a2f6.4ca51e"]]},{"id":"3ca2a2f6.4ca51e","type":"mqtt out","z":"237034d2.da354c","name":"","topic":"empresa/dining_room/emergencia","qos":"1","retain":"","broker":"e72e3527.b9f6f8","x":740,"y":340,"wires":[]},{"id":"2ebf19cd.8fd686","type":"inject","z":"237034d2.da354c","name":"inject","topic":"","payload":"[{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T00:00:00\",\"luminosity\":0.1,\"temperature\":-19.1,\"humidity\":10},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T00:10:00\",\"luminosity\":0.2,\"temperature\":10,\"humidity\":9.9},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T00:20:00\",\"luminosity\":0.3,\"temperature\":11.5,\"humidity\":7.5},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T00:30:00\",\"luminosity\":0.2,\"temperature\":9.6,\"humidity\":6.4},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T00:40:00\",\"luminosity\":0.2,\"temperature\":12.2,\"humidity\":5.1},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T00:50:00\",\"luminosity\":0,\"temperature\":28,\"humidity\":7.2},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T1:00:00\",\"luminosity\":0.1,\"temperature\":28,\"humidity\":3.5},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T1:10:00\",\"luminosity\":0.3,\"temperature\":27,\"humidity\":7.1},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T1:20:00\",\"luminosity\":0.2,\"temperature\":28,\"humidity\":11.1},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T1:30:00\",\"luminosity\":0.4,\"temperature\":28,\"humidity\":9.2},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T1:40:00\",\"luminosity\":0.6,\"temperature\":29.2,\"humidity\":11.7},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T1:50:00\",\"luminosity\":0.5,\"temperature\":27.5,\"humidity\":13.6},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T2:00:00\",\"luminosity\":0.6,\"temperature\":28,\"humidity\":9.3},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T2:10:00\",\"luminosity\":0.7,\"temperature\":28.9,\"humidity\":12.7},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T2:20:00\",\"luminosity\":0.7,\"temperature\":28.6,\"humidity\":14.3},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T2:30:00\",\"luminosity\":0.7,\"temperature\":28,\"humidity\":18.7},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T2:40:00\",\"luminosity\":0.6,\"temperature\":24.9,\"humidity\":17.1},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T2:50:00\",\"luminosity\":0.6,\"temperature\":27.4,\"humidity\":17.7},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T3:00:00\",\"luminosity\":0.7,\"temperature\":28,\"humidity\":16.6},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T3:10:00\",\"luminosity\":0,\"temperature\":28,\"humidity\":11.7},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T3:20:00\",\"luminosity\":0.3,\"temperature\":28.3,\"humidity\":11.6},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T3:30:00\",\"luminosity\":0.3,\"temperature\":27.6,\"humidity\":15.1},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T3:40:00\",\"luminosity\":0.3,\"temperature\":28,\"humidity\":14.5},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T3:50:00\",\"luminosity\":0.5,\"temperature\":25.9,\"humidity\":10.2},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T4:00:00\",\"luminosity\":0.4,\"temperature\":29.1,\"humidity\":10.8},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T4:10:00\",\"luminosity\":0.4,\"temperature\":28,\"humidity\":7.6},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T4:20:00\",\"luminosity\":0.5,\"temperature\":28.5,\"humidity\":3.2},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T4:30:00\",\"luminosity\":0.5,\"temperature\":27.5,\"humidity\":4.1},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T4:40:00\",\"luminosity\":0.4,\"temperature\":38.4,\"humidity\":0.8},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T4:50:00\",\"luminosity\":0.5,\"temperature\":28,\"humidity\":10},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T5:00:00\",\"luminosity\":0.4,\"temperature\":38.4,\"humidity\":6.1},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T5:10:00\",\"luminosity\":0.6,\"temperature\":28,\"humidity\":3.1},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T5:20:00\",\"luminosity\":0.5,\"temperature\":27.8,\"humidity\":7.1},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T5:30:00\",\"luminosity\":0.6,\"temperature\":25.7,\"humidity\":4},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T5:40:00\",\"luminosity\":0.7,\"temperature\":28,\"humidity\":1.6},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T5:50:00\",\"luminosity\":0.7,\"temperature\":26,\"humidity\":10},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T6:00:00\",\"luminosity\":0.6,\"temperature\":28,\"humidity\":6.5},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T6:10:00\",\"luminosity\":0.5,\"temperature\":29,\"humidity\":6.9},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T6:20:00\",\"luminosity\":0.7,\"temperature\":28,\"humidity\":4.7},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T6:30:00\",\"luminosity\":0.9,\"temperature\":26.5,\"humidity\":10},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T6:40:00\",\"luminosity\":1,\"temperature\":29.4,\"humidity\":14.5},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T6:50:00\",\"luminosity\":0.9,\"temperature\":28,\"humidity\":16.7},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T7:00:00\",\"luminosity\":0.9,\"temperature\":27.3,\"humidity\":20.3},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T7:10:00\",\"luminosity\":0.9,\"temperature\":28,\"humidity\":19.2},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T7:20:00\",\"luminosity\":0.9,\"temperature\":24,\"humidity\":20.4},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T7:30:00\",\"luminosity\":0.8,\"temperature\":26.4,\"humidity\":24.2},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T7:40:00\",\"luminosity\":0.9,\"temperature\":27.7,\"humidity\":28.4},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T7:50:00\",\"luminosity\":0,\"temperature\":26.9,\"humidity\":28.2},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T8:00:00\",\"luminosity\":0.1,\"temperature\":23.5,\"humidity\":24.2},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T8:10:00\",\"luminosity\":0.2,\"temperature\":24.6,\"humidity\":27.4},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T8:20:00\",\"luminosity\":0.3,\"temperature\":28,\"humidity\":31.2},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T8:30:00\",\"luminosity\":0,\"temperature\":26.8,\"humidity\":31.3},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T8:40:00\",\"luminosity\":0.3,\"temperature\":29.3,\"humidity\":34.8},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T8:50:00\",\"luminosity\":0.3,\"temperature\":28.8,\"humidity\":31.8},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T9:00:00\",\"luminosity\":0.3,\"temperature\":26.6,\"humidity\":32.6},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T9:10:00\",\"luminosity\":0.3,\"temperature\":23.2,\"humidity\":37.3},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T9:20:00\",\"luminosity\":0.4,\"temperature\":22.9,\"humidity\":38.8},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T9:30:00\",\"luminosity\":0.5,\"temperature\":22.6,\"humidity\":39.6},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T9:40:00\",\"luminosity\":0.5,\"temperature\":22.8,\"humidity\":35.9},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T9:50:00\",\"luminosity\":0.5,\"temperature\":24.8,\"humidity\":39.9},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T10:00:00\",\"luminosity\":0.6,\"temperature\":22.3,\"humidity\":41.3},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T10:10:00\",\"luminosity\":0.7,\"temperature\":20.9,\"humidity\":43.2},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T10:20:00\",\"luminosity\":0.7,\"temperature\":16.2,\"humidity\":45.7},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T10:30:00\",\"luminosity\":0.6,\"temperature\":19.8,\"humidity\":50.4},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T10:40:00\",\"luminosity\":0.6,\"temperature\":19.9,\"humidity\":46},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T10:50:00\",\"luminosity\":0.6,\"temperature\":18.3,\"humidity\":45.6},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T11:00:00\",\"luminosity\":0.5,\"temperature\":17.7,\"humidity\":41.5},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T11:10:00\",\"luminosity\":0.7,\"temperature\":17.9,\"humidity\":43.2},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T11:20:00\",\"luminosity\":0.8,\"temperature\":16.7,\"humidity\":43.2},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T11:30:00\",\"luminosity\":0.9,\"temperature\":13.5,\"humidity\":46.4},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T11:40:00\",\"luminosity\":0.8,\"temperature\":12.6,\"humidity\":43.2},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T11:50:00\",\"luminosity\":0.8,\"temperature\":13.2,\"humidity\":42.4},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T12:00:00\",\"luminosity\":0,\"temperature\":10.3,\"humidity\":44.7},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T12:10:00\",\"luminosity\":0.3,\"temperature\":8.7,\"humidity\":43.2},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T12:20:00\",\"luminosity\":0.3,\"temperature\":12.9,\"humidity\":45},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T12:30:00\",\"luminosity\":0,\"temperature\":14.3,\"humidity\":47.2},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T12:40:00\",\"luminosity\":0.3,\"temperature\":14.5,\"humidity\":46.2},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T12:50:00\",\"luminosity\":0.2,\"temperature\":13,\"humidity\":41.3},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T13:00:00\",\"luminosity\":0,\"temperature\":15.8,\"humidity\":44.7},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T13:10:00\",\"luminosity\":0,\"temperature\":14.1,\"humidity\":48},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T13:20:00\",\"luminosity\":0.3,\"temperature\":10.6,\"humidity\":45.8},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T13:30:00\",\"luminosity\":0,\"temperature\":14.2,\"humidity\":49.1},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T13:40:00\",\"luminosity\":0.3,\"temperature\":18.9,\"humidity\":47.4},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T13:50:00\",\"luminosity\":0.4,\"temperature\":19.7,\"humidity\":50},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T14:00:00\",\"luminosity\":0.5,\"temperature\":14.3,\"humidity\":47},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T14:10:00\",\"luminosity\":0.7,\"temperature\":14.1,\"humidity\":43.5},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T14:20:00\",\"luminosity\":0.8,\"temperature\":69.1,\"humidity\":39.8},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T14:30:00\",\"luminosity\":0.8,\"temperature\":37,\"humidity\":37.4},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T14:40:00\",\"luminosity\":1,\"temperature\":34,\"humidity\":35.8},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T14:50:00\",\"luminosity\":1,\"temperature\":28,\"humidity\":34.9},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T15:00:00\",\"luminosity\":0.9,\"temperature\":26.1,\"humidity\":31.6},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T15:10:00\",\"luminosity\":0.9,\"temperature\":21.5,\"humidity\":34.6},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T15:20:00\",\"luminosity\":0,\"temperature\":21.9,\"humidity\":39.5},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T15:30:00\",\"luminosity\":0.1,\"temperature\":22.7,\"humidity\":39.6},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T15:40:00\",\"luminosity\":0.3,\"temperature\":23.1,\"humidity\":38},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T15:50:00\",\"luminosity\":0.3,\"temperature\":22.2,\"humidity\":34.8},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T16:00:00\",\"luminosity\":0,\"temperature\":28,\"humidity\":37.9},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T16:10:00\",\"luminosity\":0.3,\"temperature\":26.6,\"humidity\":42.6},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T16:20:00\",\"luminosity\":0.2,\"temperature\":23.7,\"humidity\":42.6},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T16:30:00\",\"luminosity\":0.3,\"temperature\":27.3,\"humidity\":37.9},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T16:40:00\",\"luminosity\":0.3,\"temperature\":25.6,\"humidity\":41.3},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T16:50:00\",\"luminosity\":0,\"temperature\":24.7,\"humidity\":40.3},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T17:00:00\",\"luminosity\":0.1,\"temperature\":22.2,\"humidity\":41},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T17:10:00\",\"luminosity\":0.3,\"temperature\":21.5,\"humidity\":36.4},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T17:20:00\",\"luminosity\":0.5,\"temperature\":17.1,\"humidity\":32.6},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T17:30:00\",\"luminosity\":0.5,\"temperature\":17.7,\"humidity\":35.1},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T17:40:00\",\"luminosity\":0.4,\"temperature\":18.1,\"humidity\":32.9},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T17:50:00\",\"luminosity\":0,\"temperature\":17.6,\"humidity\":34},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T18:00:00\",\"luminosity\":0.3,\"temperature\":16.4,\"humidity\":37.3},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T18:10:00\",\"luminosity\":0.3,\"temperature\":17.4,\"humidity\":37.3},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T18:20:00\",\"luminosity\":0,\"temperature\":21.1,\"humidity\":36.8},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T18:30:00\",\"luminosity\":0.3,\"temperature\":27.5,\"humidity\":39.4},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T18:40:00\",\"luminosity\":0.4,\"temperature\":26.8,\"humidity\":38.3},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T18:50:00\",\"luminosity\":0.5,\"temperature\":25.3,\"humidity\":37.2},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T19:00:00\",\"luminosity\":0.7,\"temperature\":20.4,\"humidity\":37.3},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T19:10:00\",\"luminosity\":0.6,\"temperature\":19.8,\"humidity\":35.5},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T19:20:00\",\"luminosity\":0,\"temperature\":19.7,\"humidity\":37.1},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T19:30:00\",\"luminosity\":0.3,\"temperature\":18.2,\"humidity\":41.9},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T19:40:00\",\"luminosity\":0.2,\"temperature\":15,\"humidity\":41.1},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T19:50:00\",\"luminosity\":0.4,\"temperature\":38.6,\"humidity\":41.6},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T20:00:00\",\"luminosity\":0.5,\"temperature\":28,\"humidity\":40.1},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T20:10:00\",\"luminosity\":0.4,\"temperature\":26.9,\"humidity\":43.8},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T20:20:00\",\"luminosity\":0.4,\"temperature\":28.4,\"humidity\":46.9},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T20:30:00\",\"luminosity\":0.5,\"temperature\":27.7,\"humidity\":44.1},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T20:40:00\",\"luminosity\":0,\"temperature\":28,\"humidity\":44.6},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T20:50:00\",\"luminosity\":0,\"temperature\":26.1,\"humidity\":39.7},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T21:00:00\",\"luminosity\":0,\"temperature\":38.7,\"humidity\":39.4},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T21:10:00\",\"luminosity\":0,\"temperature\":33.7,\"humidity\":35},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T21:20:00\",\"luminosity\":0,\"temperature\":28,\"humidity\":33.2},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T21:30:00\",\"luminosity\":0,\"temperature\":28,\"humidity\":35},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T21:40:00\",\"luminosity\":0,\"temperature\":29.2,\"humidity\":32},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T21:50:00\",\"luminosity\":0.3,\"temperature\":28,\"humidity\":30.9},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T22:00:00\",\"luminosity\":0.2,\"temperature\":27.4,\"humidity\":29.3},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T22:10:00\",\"luminosity\":0.3,\"temperature\":28,\"humidity\":33.2},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T22:20:00\",\"luminosity\":0.3,\"temperature\":28.8,\"humidity\":34.7},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T22:30:00\",\"luminosity\":0.2,\"temperature\":27.2,\"humidity\":39},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T22:40:00\",\"luminosity\":0.3,\"temperature\":28,\"humidity\":43.2},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T22:50:00\",\"luminosity\":0.3,\"temperature\":28,\"humidity\":39.1},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T23:00:00\",\"luminosity\":0.4,\"temperature\":26.6,\"humidity\":42.2},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T23:10:00\",\"luminosity\":0.3,\"temperature\":30.2,\"humidity\":40.3},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T23:20:00\",\"luminosity\":0.2,\"temperature\":28,\"humidity\":44.5},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T23:30:00\",\"luminosity\":0.3,\"temperature\":28,\"humidity\":46.7},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T23:40:00\",\"luminosity\":0.3,\"temperature\":28,\"humidity\":48.2},{\"id\":\"sensor_dining_room\",\"timestamp\":\"2019-11-25T23:50:00\",\"luminosity\":0.4,\"temperature\":26.6,\"humidity\":49.3}]","payloadType":"json","repeat":"18000","crontab":"","once":false,"onceDelay":"5","x":130,"y":540,"wires":[["3f3c6c99.7e1724"]]},{"id":"3f3c6c99.7e1724","type":"split","z":"237034d2.da354c","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":250,"y":480,"wires":[["d5c3b588.abcc68"]]},{"id":"d5c3b588.abcc68","type":"delay","z":"237034d2.da354c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":540,"wires":[["6ccb5448.1001fc","c8d435af.3a0cc8","ba00163c.844bb8"]]},{"id":"2101ed98.db81a2","type":"mqtt out","z":"237034d2.da354c","name":"s_lum_2","topic":"empresa/dining_room/luminosidad","qos":"0","retain":"false","broker":"e72e3527.b9f6f8","x":780,"y":480,"wires":[]},{"id":"3ceb0b91.1568b4","type":"mqtt out","z":"237034d2.da354c","name":"s_hum_2","topic":"empresa/dining_room/humedad","qos":"0","retain":"false","broker":"e72e3527.b9f6f8","x":780,"y":540,"wires":[]},{"id":"739e1edd.764e2","type":"mqtt out","z":"237034d2.da354c","name":"s_temp_2","topic":"empresa/dining_room/temperatura","qos":"0","retain":"false","broker":"e72e3527.b9f6f8","x":780,"y":600,"wires":[]},{"id":"6ccb5448.1001fc","type":"function","z":"237034d2.da354c","name":"getLuminosity","func":"var str = \"{\\\"id\\\":\\\"\" + msg.payload.id + \"\\\",\" +\n       \"\\\"datatype\\\": \\\"luminosity\\\",\" +\n       \"\\\"value\\\": \" + msg.payload.luminosity + \",\" +\n       \"\\\"timestamp\\\":\\\"\" + msg.payload.timestamp + \"\\\"}\";\n       \nvar json = JSON.parse(str);\n\n\nmsg.payload = json;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":480,"wires":[["cf9afa62.6e4868"]]},{"id":"c8d435af.3a0cc8","type":"function","z":"237034d2.da354c","name":"getHumidity","func":"var str = \"{\\\"id\\\":\\\"\" + msg.payload.id + \"\\\",\" +\n       \"\\\"datatype\\\": \\\"humidity\\\",\" +\n       \"\\\"value\\\": \" + msg.payload.humidity + \",\" +\n       \"\\\"timestamp\\\":\\\"\" + msg.payload.timestamp + \"\\\"}\";\n       \nvar json = JSON.parse(str);\n\n\nmsg.payload = json;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":540,"wires":[["3ceb0b91.1568b4"]]},{"id":"ba00163c.844bb8","type":"function","z":"237034d2.da354c","name":"getTemperature","func":"var str = \"{\\\"id\\\":\\\"\" + msg.payload.id + \"\\\",\" +\n       \"\\\"datatype\\\": \\\"temperature\\\",\" +\n       \"\\\"value\\\": \" + msg.payload.temperature + \",\" +\n       \"\\\"timestamp\\\":\\\"\" + msg.payload.timestamp + \"\\\"}\";\n       \nvar json = JSON.parse(str);\n\n\nmsg.payload = json;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":600,"wires":[["739e1edd.764e2"]]},{"id":"3a823891.71c248","type":"function","z":"fe2d5def.cb7bd","name":"GetValue","func":"var value = msg.payload.value\nmsg.payload = value\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":120,"wires":[["ea61e101.cd248","10424865.11a9b8"]]},{"id":"8e9540bf.613","type":"function","z":"fe2d5def.cb7bd","name":"GetValue","func":"var value = msg.payload.value\nmsg.payload = value\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["b27c9cc0.455a4"]]},{"id":"e5fb8e80.3d706","type":"function","z":"fe2d5def.cb7bd","name":"GetValue","func":"var value = msg.payload.value\nmsg.payload = value\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":360,"wires":[["f033cb7f.243ef8","f95feb76.27db68"]]},{"id":"ef5ab108.793ac","type":"mqtt in","z":"80ae2d28.ae2","name":"","topic":"empresa/control/sensor_office","qos":"2","datatype":"json","broker":"e72e3527.b9f6f8","x":120,"y":160,"wires":[["5b69603b.dc48e","a9a82b46.687b18"]]},{"id":"a9a82b46.687b18","type":"function","z":"80ae2d28.ae2","name":"getTemperature","func":"var command = msg.payload.command;\nif(command.datatype == \"temperature\"){\n    msg.payload = command.value\n    return msg;\n}","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["db558bac.6296e8"]]},{"id":"5b69603b.dc48e","type":"function","z":"80ae2d28.ae2","name":"getLuminosity","func":"var command = msg.payload.command;\nif(command.datatype == \"luminosity\"){\n    msg.payload = command.value\n    return msg;\n}","outputs":1,"noerr":0,"x":360,"y":100,"wires":[["a5e189b8.6ce158"]]},{"id":"d9ac5457.012058","type":"ui_slider","z":"237034d2.da354c","name":"","label":"Luminosidad","tooltip":"","group":"c1960b07.2676a8","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"400","step":"1","x":570,"y":100,"wires":[["a6614ac1.9890b8"]]},{"id":"c14b8e87.5cabe","type":"ui_slider","z":"237034d2.da354c","name":"","label":"Humedad","tooltip":"","group":"c1960b07.2676a8","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":560,"y":260,"wires":[["c89d5848.cc50e8"]]},{"id":"7b5de3f.9c5b71c","type":"ui_slider","z":"237034d2.da354c","name":"","label":"Temperatura","tooltip":"","group":"c1960b07.2676a8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"40","step":1,"x":570,"y":180,"wires":[["4ab613d7.7af9bc"]]},{"id":"a6614ac1.9890b8","type":"function","z":"237034d2.da354c","name":"ToJson","func":"var value = msg.payload;\nvar payload = {\"id\":\"sensor_dining_room\", \"datatype\":\"luminosity\",\"value\":value, \"timestamp\":\"2019-11-25T09:00:00\"}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":100,"wires":[["5f04ca7d.b85714"]]},{"id":"4ab613d7.7af9bc","type":"function","z":"237034d2.da354c","name":"ToJson","func":"var value = msg.payload;\nvar payload = {\"id\":\"sensor_dining_room\", \"datatype\":\"temperature\",\"value\":value, \"timestamp\":\"2019-11-25T09:00:00\"}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":180,"wires":[["d1154dde.0f1fb"]]},{"id":"c89d5848.cc50e8","type":"function","z":"237034d2.da354c","name":"ToJson","func":"var value = msg.payload;\nvar payload = {\"id\":\"sensor_dining_room\", \"datatype\":\"humidity\",\"value\":value, \"timestamp\":\"2019-11-25T09:00:00\"}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":260,"wires":[["2f913943.d26276"]]},{"id":"24aef01.c18081","type":"mqtt in","z":"237034d2.da354c","name":"","topic":"empresa/control/sensor_dining_room","qos":"2","datatype":"json","broker":"e72e3527.b9f6f8","x":150,"y":180,"wires":[["60e182c8.2a91fc","16ed598.70a08a7"]]},{"id":"16ed598.70a08a7","type":"function","z":"237034d2.da354c","name":"getTemperature","func":"var command = msg.payload.command;\nif(command.datatype == \"temperature\"){\n    msg.payload = command.value\n    return msg;\n}","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["7b5de3f.9c5b71c"]]},{"id":"60e182c8.2a91fc","type":"function","z":"237034d2.da354c","name":"getLuminosity","func":"var command = msg.payload.command;\nif(command.datatype == \"luminosity\"){\n    msg.payload = command.value\n    return msg;\n}","outputs":1,"noerr":0,"x":380,"y":100,"wires":[["d9ac5457.012058"]]},{"id":"5f04ca7d.b85714","type":"mqtt out","z":"237034d2.da354c","name":"","topic":"empresa/dining_room/luminosidad","qos":"0","retain":"","broker":"e72e3527.b9f6f8","x":1000,"y":100,"wires":[]},{"id":"d1154dde.0f1fb","type":"mqtt out","z":"237034d2.da354c","name":"","topic":"empresa/dining_room/temperatura","qos":"","retain":"","broker":"e72e3527.b9f6f8","x":1000,"y":180,"wires":[]},{"id":"2f913943.d26276","type":"mqtt out","z":"237034d2.da354c","name":"","topic":"empresa/dining_room/humedad","qos":"","retain":"","broker":"e72e3527.b9f6f8","x":990,"y":260,"wires":[]},{"id":"cf9afa62.6e4868","type":"function","z":"237034d2.da354c","name":"normalize","func":"msg.payload.value = msg.payload.value * 400;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":480,"wires":[["2101ed98.db81a2"]]},{"id":"18fa61f2.caab5e","type":"function","z":"80ae2d28.ae2","name":"normalize","func":"msg.payload.value = msg.payload.value * 400;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":420,"wires":[["aaf98169.b7336"]]}]